replace_ifelse/go.mod
replace_ifelse/.vscode/launch.json
replace_ifelse/.vscode/settings.json
**/*.ipynb
**/.ipynb_checkpoints/**
**/*.pyc
art_python/cross_point_picture/image/V-for-Vendetta.jpg
art_python/cross_point_picture/checkpoint/**
art_python/.vscode/launch.json
art_python/cross_point_picture/image/canvas.jpeg
